doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title JSDayES
    meta(name="viewport" content="initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="description", content="Madrid JsDay")
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Vollkorn', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/styles/main.css")

  body
    .main-wrapper
      .header-nav
        .center
          .menu-responsive
             a.burger(href="")

          .social
            ul
              li
                a.fa.fa-twitter(href="#{twitter}", target="_blank")
              li
                a.fa.fa-youtube(href="#{youtube}", target="_blank")
              li
                a.fa.fa-envelope(href="mailto:#{contact}")

      nav.menu
        ul.center
          li
            a(href="#section1") ¿a quién esperamos?

          li
            a(href="#section3") cuándo y donde

          li
            a(href="#section4") agenda

          // li
          //   a(href="#section5") ponentes

          li
            a(href="#section6") patrocinadores

          li
            a(href="#section7") quiénes somos

          li
            a(href="#section8") entradas

      section.presentation
       .center
         h1 JS DAY
         h2 9 de Mayo de 2015 en Madrid

         .button-wrapper
           a(href="#section8") Entradas agotadas

      .center.content
        section
           h1
             | ¡Bienvenidos al JSdayES,
             br
             | el meetup de los meetups de JS en España!

           p
             | Las comunidades tecnológicas de JS en Madrid hemos unido nuestras fuerzas, y como nos encanta la tecnología y sí, somos unos apasionados del Javascript en todas sus vertientes, hemos organizado el I JSDayES en Madrid.
             br
             | El evento se celebrará el sábado 9 de Mayo , de 10:00 a 17:30 en Medialab Prado (Plaza de las Letras c/ Alameda,15, Madrid), en pleno corazón de Madrid.

        section(id="section1")
           h2 ¿A quién esperamos?

           p A todos aquellos, profesionales del sector o curiosos de la tecnología, que quieran aprender más acerca de JavaScript y sus frameworks. Hablaremos – en charlas y en talleres-  de AngularJS, de NodeJS, de Polymer, de HTML5…

        section(id="section3")
          h2 Cuándo y dónde

          p Cuándo y dónde:  El Sábado 9 de Mayo en MedialabPrado Madrid

          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12151.686140104057!2d-3.693699!3d40.410589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd69ac9ed8a94df3d!2sMedialab-Prado!5e0!3m2!1ses!2ses!4v1421877719459", width="1120", height="450", frameborder="0", style="border:0")

        section(id="section4")
           h2 Agenda

           table.schedule
               thead
                   tr
                       td
                       td Charlas
                       td.last-child Talleres
               tbody
                   tr.special
                       td 11:00
                       td.last-child(colspan="2") Registro

                   tr.special
                       td 11:20
                       td.last-child(colspan="2") Bienvenida

                   tr.sponsor
                       td 11:25
                       td.last-child(colspan="2") Presentación del patrocinador <strong>Adesis</strong>

                   tr
                       td 11:30
                       td
                           | Programación Funcional en JavaScript
                           span Alejandro Gómez
                       td.last-child(rowspan="2")
                           | El mundo de las extensiones
                           span Gil Casadevall

                   tr
                       td 12:15
                       td
                           | Captura masiva de la experiencia de usuario con javascript, socket.io, nodejs y mongodb
                           span Pablo Almunia

                   tr
                       td 13:00
                       td
                           | Cómo mejorar el rendimiento de JavaScript.
                           span Isabel Cabezas
                       td.last-child
                   tr.sponsor
                       td 13:45
                       td.last-child(colspan="2") Presentación del patrocinador <strong>Avature</strong>

                   tr.break
                       td 13:50
                       td.last-child(colspan="2") Comida

                   tr
                       td 14:45
                       td
                           | Web Speech API
                           span Aurelio de Rosa
                       td.last-child(rowspan="2")
                           | Arquitectura en 3 capas y modelos ricos en AngularJS
                           span Lorenzo González
                   tr
                       td 15:30
                       td
                           | Angular2, the new kid on the block
                           span Gonzalo Ruiz de Villa

                   tr.sponsor
                       td 16:15
                       td.last-child(colspan="2") Presentación del patrocinador <strong>Kaleidos</strong>

                   tr
                       td 16:20
                       td
                           | Web Cryptography
                           span Jose Manuel Ortega

                       td.last-child(rowspan="2")
                           | Realizar una API utilizando RAML y las herramientas de Mulesoft
                           span Marco Antonio Sanz

                   tr
                       td 17:05
                       td
                           | ReactJS is a JavaScript library for creating user interfaces with primary focus on performance
                           span Ilian Peychev


                   tr.sponsor
                       td 17:50
                       td.last-child(colspan="2") Presentación del patrocinador <strong>FIK</strong>

                   tr.break
                       td 17:55
                       td.last-child(colspan="2") Merienda

                   tr
                       td 18:15
                       td
                           | Metaprogramación en JavaScript
                           span Javier Vélez
                       td.last-child
                           | Javascript como motor del prototipos de control de hardware a través de Internet
                           span Alberto lópez

                   tr.special
                       td 19:00
                       td.last-child(colspan="2") Despedida


        // section(id="section5")
        //    h2 Ponentes

        section(id="section6")
           h2 Patrocinadores

           ul.sponsors
             li
               a(href="http://www.adesis.com/", target="_blank")
                 img(src="/images/sponsor1.jpg")
             li
               a(href="http://kaleidos.net/", target="_blank")
                 img(src="/images/sponsor2.png")
             li
               a(href="https://fikstores.com/", target="_blank")
                 img(src="/images/sponsor3.jpg")
             li
               a(href="http://autentia.com/", target="_blank")
                 img(src="/images/sponsor4.png")
             li
               a(href="https://www.avature.net/", target="_blank")
                 img(src="/images/sponsor5.png")


           p
             | ¿Quieres ser patrocinador? <span class="bold">Contacta con nosotros</span>


           div.btn
             a(href="mailto:#{contact}")
               span.ico-sponsor
               | Contacta con nosotros

        section(id="section7")
           h2 Quiénes estamos detrás del evento

           p
             | Los organizadores de este “tinglao” somos los meetups de AngularJSMadrid, NodeJS, MadridJS, HTLML5 Spain y la Gaceta Tecnológica.

           ul.organizers
             li
               a(href="http://www.meetup.com/AngularJS_Madrid/", target="_blank")
                 img(src="/images/angular-madrid.png")

             li
               a(href="http://www.meetup.com/Node-js-Madrid/", target="_blank")
                 img(src="/images/node.png")

             li
               a(href="http://www.meetup.com/madridjs/", target="_blank")
                 img(src="/images/madrid-js.png")

             li
               a(href="http://www.meetup.com/HTML5-Spain/", target="_blank")
                 img(src="/images/html5.jpeg")

             li
               a(href="http://www.gacetatecnologica.com/", target="_blank")
                 img(src="/images/gaceta.jpg")

        section(id="section8")
           h2 Entradas

           p Sabemos que es un tema muy interesante y estamos encantados de que vengáis a compartir con nosotros este día, por eso, hemos decidido hacer un esfuerzo y fijar un simbólico precio para las entradas de <span class="bold">¡¡¡CERO euros!!!</span>

           p Os pedimos que si, finalmente, no vais a venir y habéis reservado plaza, nos aviséis. ¡Las plazas son limitadas!
           p Por favor, sed puntuales para que podamos seguir con la agenda prevista

           p <strong>¿Te has quedado sin plaza para acudir?</strong> No te preocupes, tendremos una conexión vía streaming para que no te pierdas las charlas.

           div.btn
             a()
               span.ico-ticket
               | Entradas agotadas


      section.social-footer
          .inner
            header
            h1 JS DAY
            h2 9 de Mayo de 2015 en Madrid

            ul
              li
                a.fa.fa-twitter(href="#{twitter}", target="_blank")
              li
                a.fa.fa-youtube(href="#{youtube}", target="_blank")
              li
                a.fa.fa-envelope(href="mailto:#{contact}")

   script(src="js/main.js", type="text/javascript")